#include <dt-bindings/zmk/mouse.h>

// マウス移動とスクロールのデフォルト値を設定

#define ZMK_POINTING_DEFAULT_MOVE_VAL 800
#define ZMK_POINTING_DEFAULT_SCRL_VAL 120

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// マウス移動の設定

&mmv {
    delay-ms = <0>;              // 遅延なし
    trigger-period-ms = <10>;    // 10ミリ秒ごとにトリガー
    time-to-max-speed-ms = <0>;  // 即座に最大速度に
    acceleration-exponent = <1>;  // 線形加速
};

// マウススクロールの設定

&msc {
    delay-ms = <0>;              // 遅延なし
    trigger-period-ms = <10>;    // 10ミリ秒ごとにトリガー
    time-to-max-speed-ms = <0>;  // 即座に最大速度に
    acceleration-exponent = <0>;  // 加速なし
};

// 入力プロセッサーの設定

/ {
    input_processors {
        // 垂直スクロールのスケーラー

        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };

        // 水平スクロールのスケーラー

        zip_hwheel_scaler: zip_hwheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_HWHEEL>;
            track-remainders;
        };
    };
};

// カスタムビヘイビアの定義

/ {
    behaviors {
        // マウスカーソル移動の回転検出

        mouse_mv: mouse_cursor_move {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&mmv>, <&mmv>;

            tap-ms = <10>;
        };

        // マウスホイールスクロールの回転検出

        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <10>;
        };

        lt_mkp: lt_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_MKP";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mod_mkp: mod_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_MKP";
            bindings = <&kp>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    // キーマップの定義
#define L_USB_SOUTH 0
#define L_USB_WEST  2
#define L_USB_NORTH 4
#define L_USB_KIMON 5
#define L_USB_EAST  6
#define L_BT_SEL    8
#define L_BT_CLR    9
#define L_SCROLL   10
#define L_ORI      11
#define L_SPACES   12
#define L_MISSION  13
#define LEFT_SPACE   LC(LEFT)
#define RIGHT_SPACE  LC(RIGHT)
#define MISSION_CTRL LC(UP)
#define EXPOSE       LC(DOWN)

    keymap {
        compatible = "zmk,keymap";

        // レイヤー0（0°、USBポートを下向きにした状態）"

        orientation0_layer {
            bindings = <
// Front                                                                  Back
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &lt_mkp L_SCROLL MB3         &lt_mkp L_MISSION MB2 &lt_mkp L_SPACES MB1   &mo L_BT_SEL &mo L_BT_CLR &mo L_ORI
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;
        };

        // レイヤー1（時計回り45°）

        orientation45_layer {
            bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &lt_mkp L_SCROLL MB3         &lt_mkp L_MISSION MB2 &lt_mkp L_SPACES MB1   &mo L_BT_SEL &mo L_BT_CLR &mo L_ORI
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;
        };

        // レイヤー2（時計回り90°）

        orientation90_layer {
            bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &lt_mkp L_SCROLL MB3         &lt_mkp L_MISSION MB2 &lt_mkp L_SPACES MB1   &mo L_BT_SEL &mo L_BT_CLR &mo L_ORI
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;
        };

        // レイヤー3（時計回り135°）

        orientation135_layer {
            bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &lt_mkp L_SCROLL MB3         &lt_mkp L_MISSION MB2 &lt_mkp L_SPACES MB1   &mo L_BT_SEL &mo L_BT_CLR &mo L_ORI
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;
        };

        // レイヤー4（時計回り180°）

        orientation180_layer {
            bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &lt_mkp L_SCROLL MB3         &lt_mkp L_MISSION MB2 &lt_mkp L_SPACES MB1   &mo L_BT_SEL &mo L_BT_CLR &mo L_ORI
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;
        };

        // レイヤー5（時計回り225°）

        orientation225_layer {
            bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &lt_mkp L_SCROLL MB3         &lt_mkp L_MISSION MB2 &lt_mkp L_SPACES MB1   &mo L_BT_SEL &mo L_BT_CLR &mo L_ORI
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;
        };

        // レイヤー6（時計回り270°）

        orientation270_layer {
            bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &lt_mkp L_SCROLL MB3         &lt_mkp L_MISSION MB2 &lt_mkp L_SPACES MB1   &mo L_BT_SEL &mo L_BT_CLR &mo L_ORI
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;
        };

        // レイヤー7（時計回り315°）

        orientation315_layer {
            bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &lt_mkp L_SCROLL MB3         &lt_mkp L_MISSION MB2 &lt_mkp L_SPACES MB1   &mo L_BT_SEL &mo L_BT_CLR &mo L_ORI
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;
        };

        // レイヤー8（Bluetooth選択レイヤー）

        btsel_layer {
            bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &bt BT_SEL 0                      &bt BT_SEL 1     &bt BT_SEL 2           &none        &bt BT_SEL 3 &bt BT_SEL 4
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;
        };

        // レイヤー9（Bluetoothクリアレイヤー）

        btclr_layer {
            bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &none                             &none            &none                  &bt BT_CLR   &none        &bt BT_CLR_ALL
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;
        };

        // レイヤー10（スクロールレイヤー）

        scroll_layer {
            bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &lt_mkp L_ORI MB3                 &lt_mkp L_ORI MB4 &lt_mkp L_ORI MB5     &none        &none        &none
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;

            // トラックボールの動きをスクロールに変換

            sensor-bindings =
                <&mouse_scrl SCRL_DOWN SCRL_UP>,
                <&mouse_scrl SCRL_UP SCRL_DOWN>;
        };

        // レイヤー11（使用向き選択レイヤー）

        orientation_layer {
            bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &to L_USB_KIMON                   &to L_USB_WEST  &to L_USB_EAST          &to L_USB_SOUTH &to L_USB_NORTH &none
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;
        };

        spaces_layer {
            bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &kp RIGHT_SPACE                   &kp LEFT_SPACE   &none                  &none        &none        &none
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;
        };

        mission_layer {
            bindings = <
//╭────────────────┬────────────────┬────────────────┬────────────────╮     ╭────────────┬────────────┬────────────╮
//|                | trackball      |                |                |     |  1         |  2         |  3         |
  &kp EXPOSE                        &none            &kp MISSION_CTRL       &none        &none        &none
//╰────────────────┴────────────────┴────────────────┴────────────────╯     ╰────────────┴────────────┴────────────╯
            >;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        // Key1、2同時押しでスクロールレイヤーへ

        combo_layer9 {
            bindings = <&mo 10>;
            key-positions = <1 2>;
            timeout-ms = <50>;
        };
    };
};
